<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="applications-menu" label="Applications" execute="/usr/libexec/openbox-xdg-menu /etc/xdg/menus/applications"/>

<menu id="root-menu" label="Openbox 3">
  <separator label="Openbox"/>
  <menu id="applications-menu"/>
  <separator/>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
